extends ../../../layout

block styles
    link(href='/libs/vis/dist/vis.min.css', rel='stylesheet', type="text/css")


block content
    .ui.container
        a.ui.button.right.floated(href="/dashboard/c/#{node.container.id}/n/#{node.id}/log") Show Log
        h2.chartName #{node.title}
        p
            a(href="/dashboard/c/#{node.container.id}") Dashboard
        .ui.divider
        .ui.raised.segments
            .ui.secondary.clearing.segment
                b.chartName #{node.title}
                button#share-button.ui.right.floated.small.button Share
                button#clear-button.ui.right.floated.small.button Clear
            .ui.segment
                #infoPanel
                    | Requesting data...
                br
                #chartPanel(style="display: none;")
                    #visualization
                    br
                    .ui.form
                        .ui.fields
                            .ui.field
                                label Auto scroll:
                                select#autoscroll.ui.dropdown
                                    option(value="none", selected="") None
                                    option(value="continuous") Continuous
                                    option(value="discrete") Discrete
                                    option(value="static") Static
                            .ui.field
                                label Style:
                                select#chartstyle().ui.dropdown
                                    option(value="bars", selected="") Bars
                                    option(value="splines") Splines
                                    option(value="shadedsplines") Shaded Splines
                                    option(value="lines") Lines
                                    option(value="shadedlines") Shaded Lines
                                    option(value="dots") Dots
                            .ui.field
                                br
                                .ui.basic.buttons
                                    button#show-all-button.ui.button
                                        b Zoom All
                                    button#show-now-button.ui.button
                                        b Zoom Now
        #shareModal.ui.modal
            .header
                | Chart share URL
            .content
                .ui.form
                    .field
                        label URL:
                        textarea#url(rows="3")
            .actions
                .ui.positive.right.button
                    | OK




block scripts
    script(src='/libs/vis/dist/vis.min.js',type="application/javascript")

    script(type="text/javascript").
        var container_id = #{node.container.id};
        var node_id = #{node.id};
        var range_start = #{range_start};
        var range_end = #{range_end};
        var autoscroll = "#{autoscroll}";
        var style = "#{style}";
        var max_records = #{max_records};

    script(src='/libs/requirejs/require.js' data-main="/nodes/nodes/ui/chart-index-page.js",type="application/javascript")
