extends ../../../layout

block styles
    link(href='/libs/vis/dist/vis.min.css', rel='stylesheet', type="text/css")


block content
    .ui.container
        a.ui.button.right.floated(href="/dashboard/c/#{node.container.id}/n/#{node.id}") Show Chart
        h2.chartName #{node.title}
        p
            a(href="/dashboard/c/#{node.container.id}") Dashboard
        .ui.divider
        .ui.raised.segments
            .ui.secondary.clearing.segment
                b.chartName #{node.title}
                button#clear-button.ui.right.floated.small.button Clear
            .ui.attached.segment
                table.ui.striped.table
                    thead
                        tr
                            th(scope="col")
                                | Date
                            th(scope="col")
                                | State
                    tbody#history-table
                        for record in records
                            tr
                                td= moment(record.x).format("DD.MM.YYYY - H:mm:ss.SSS")
                                td= record.y
                    //tfoot
                    //    tr
                    //        th(colspan="3")
                    //            .ui.pagination.menu
                    //                a.icon.item
                    //                    i.left.chevron.icon
                    //                a.item 1
                    //                a.item 2
                    //                a.item 3
                    //                a.item 4
                    //                a.icon.item
                    //                    i.right.chevron.icon


block scripts
    script(type="text/javascript").
        var container_id = #{node.container.id};
        var node_id = #{node.id};
        var max_records = #{max_records};

    script(src='/libs/requirejs/require.js' data-main="/nodes/nodes/ui/chart-log-page.js",type="application/javascript")
